@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark--Blue: hsl(233, 26%, 24%);
  --Lime--Green: hsl(136, 65%, 51%);
  --Bright--Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light--Grayish--Blue: hsl(220, 16%, 96%);
  --Very--Light--Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

img,
span,
svg {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  background: var(--White);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px;
}

.navbar-toggle-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 20px;
}

.navbar-toggle-btn span {
  display: block;
  background: var(--Dark--Blue);
  width: 25px;
  height: 1px;
  transition: 0.25s ease;
}

.navbar-toggle-btn.active .one {
  transform: rotate(45deg) translateY(3px);
}

.navbar-toggle-btn.active .two {
  display: none;
}

.navbar-toggle-btn.active .three {
  transform: rotate(-45deg) translateY(-3px);
}

.navbar-nav {
  position: fixed;
  background: var(--White);
  top: 60px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.navbar-nav a {
  color: var(--Dark--Blue);
  display: block;
}

.navbar-nav.active {
  top: calc(60px + 20px);
  opacity: 1;
  box-shadow: 0 0 100px 100px hsla(233, 26%, 24%, 0.2);
  pointer-events: all;
}

.invite-btn {
  background: linear-gradient(90deg, var(--Lime--Green), var(--Bright--Cyan));
  color: var(--White);
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 700;
  font-weight: 15px;
  display: block;
  margin: auto;
  transition: 0.2s ease;
}

.invite-btn:hover {
  opacity: 0.7;
}

.navbar .invite-btn {
  display: none;
}

main {
  overflow: hidden;
}

.home {
  background: var(--Very--Light--Gray);
  padding-bottom: 60px;
}

.home-img-box {
  background: url(images/bg-intro-mobile.svg) no-repeat top;
  background-size: cover;
  padding: 0 15px;
  margin-bottom: 40px;
}

.home-img-box home-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: bottom;
}

.home-title {
  font-size: 38px;
  font-weight: 400;
  color: var(--Dark--Blue);
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.home-text {
  margin: auto;
  color: var(--Dark--Blue);
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.service {
  padding: 60px 18px;
  background-color: var(--Light--Grayish--Blue);
}

.section-title {
  color: var(--Dark--Blue);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  color: var(--Grayish-Blue);
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.service-card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-icon {
  margin: auto;
  margin-bottom: 30px;
}

.card-title,
.card-text {
  text-align: center;
}

.service-card .card-title {
  color: var(--Dark--Blue);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.service-card .card-text {
  font-size: 15px;
  color: var(--Grayish-Blue);
  line-height: 1.7;
  margin-bottom: 20px;
}

.blog {
  padding: 60px 18px;
  background: var(--Very--Light--Gray);
}

.blog .section-title {
  margin-bottom: 30px;
}

.article-card-group {
  display: flex;
  flex-direction: column;
}

.article-card {
  border-radius: 5px;
  background: var(--White);
  overflow: hidden;
}

.article-card .card-head {
  height: 200px;
}

.article-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .card-body {
  padding: 20px;
}

.article-card .article-author {
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin-bottom: 10px;
}

.article-card .card-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--Dark--Blue);
  margin-bottom: 10px;
  transition: 0.25s ease;
}

.article-card .card-title:hover {
  color: var(--Lime--Green);
}

.article-card .card-text {
  font-size: 13px;
  color: var(--Grayish-Blue);
  line-height: 1.5;
}

footer {
  background: var(--Dark--Blue);
}
